body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.card-body {
    background-color: rgb(32, 202, 202);
}

.button {
    background-color: rgb(32, 202, 202);
}

.calipso {
    background-color: rgb(32, 202, 202);
}
